{% extends 'base.html' %}


{% block text %}
	<p><i>Azure</i> magazine runs a gift campaign at the end of every year, offering a special price for gift subscriptions in time for the holiday. The art department is tasked with refreshing the creative. In 2020, we wanted to work with the idea that a subscription to our award-winning magazine is the best social distanced gift. </p>

	<p>We decided on the theme of giving & receiving, with the magazine flying cross in stop motion as a “contactless” gift. The campaign consisted of e-mail newsletters, web ads, blog post and social media assets. </p>
{% endblock %}

{% block content%}
<div class="row m-5 justify-content-center">
<div class="col-sm-8">
	<img src="../static/images/20az-gift-4.gif" class="img-fluid">
	<br><br>
	<img src="../static/../static/images/20az-gift-5.jpg" class="img-fluid">
</div>

<div class="col-sm-4">
<img src="../static/images/20az-gift-6.gif" class="img-fluid">

</div>
</div>

<div class="row m-5">
<div class="col-sm">
	<img src="../static/images/20az-gift-8.jpg" class="img-fluid">
</div>
</div>

{% endblock %}