{% extends 'base.html' %}
{% block text %}{% endblock %}
{% block content%}
<div class="row m-5">
    <div class="col-sm-6">
        <img src="../static/images/editorial/01.jpg" class="img-fluid">
    </div>
     <div class="col-sm-6">
        <img src="../static/images/editorial/02.jpg" class="img-fluid">
    </div>
</div>

<div class="row m-5">
    <div class="col-sm-12">
        <img src="../static/images/editorial/03.jpg" class="img-fluid">
    </div>
</div>

<div class="row m-5">
    <div class="col-sm-6">
        <img src="../static/images/editorial/04.jpg" class="img-fluid">
    </div>
     <div class="col-sm-6">
        <img src="../static/images/editorial/05.jpg" class="img-fluid">
    </div>
</div>

<!--<div class="row m-5">-->
<!--    <div class="col-sm-12">-->
<!--        <img src="../static/images/editorial/06.jpg" class="img-fluid">-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row m-5">-->
<!--    <div class="col-sm-6">-->
<!--        <img src="../static/images/editorial/07.jpg" class="img-fluid">-->
<!--    </div>-->
<!--     <div class="col-sm-6">-->
<!--        <img src="../static/images/editorial/08.jpg" class="img-fluid">-->
<!--    </div>-->
<!--</div>-->

<div class="row m-5">
    <div class="col-sm-12">
        <img src="../static/images/editorial/09.jpg" class="img-fluid">
    </div>
</div>

<div class="row m-5">
    <div class="col-sm-6">
        <img src="../static/images/editorial/10.jpg" class="img-fluid">
    </div>
     <div class="col-sm-6">
        <img src="../static/images/editorial/11.jpg" class="img-fluid">
    </div>
</div>

<!--<div class="row m-5">-->
<!--    <div class="col-sm-12">-->
<!--        <img src="../static/images/editorial/12.jpg" class="img-fluid">-->
<!--    </div>-->
<!--</div>-->

<div class="row m-5">
    <div class="col-sm-6">
        <img src="../static/images/editorial/13.jpg" class="img-fluid">
    </div>
     <div class="col-sm-6">
        <img src="../static/images/editorial/14.jpg" class="img-fluid">
    </div>
</div>
{% endblock %}