{% extends 'base.html' %}

{% block text %}
  <p>The AZ Awards is an annual awards gala that celebrates international architecture and design. Every year, the team releases a short one-minute promotional video to generate hype around the event.</p>
<p>In the past, this was a project outsourced to an external agency. With an interest in motion graphics, I asked for the opportunity to create the video in-house for the first time. The video was also leveraged in various marketing channels, such as instagram, stories, and email blasts. The team was very happy with the result, and continued to bring the process in-house in the following year.</p>
<p>
</p>
{% endblock %}
{% block content%}


<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <h3>2022 Video</h3>
        <video width="100%" height="auto" poster="../static/images/cover-aza22.jpg" controls>
          <source src="../static/video/22AZA.mp4" type="video/mp4">
         </video>

    </div>
</div>


<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <h3>2021 Video</h3>
        <video width="100%" height="auto" poster="../static/images/cover-aza21.jpg" controls>
          <source src="../static/video/21AZA.mp4" type="video/mp4">
         </video>

    </div>
</div>

{% endblock %}