{% extends 'base.html' %}

{% block text %}
<p>Branded is a Youth Entrepreneurship Conference focused on Black, Newcomer and MVP (Most Vulnerable People) entrepreneurs between the ages of 18-30. After two years of lockdown, the Branded conference is back in person for 2022. I was asked to design the conference identity and event collateral. The end result was a series of gradients leveraging Branded's colours, showcasing the magical blend of talents gathered at the conference. </p>



{% endblock %}

{% block content %}


<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <video width="100%" height="auto" autoplay muted loop>
          <source src="../static/video/branded-01.mp4" type="video/mp4">
         </video>

    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <img src="../static/images/branded.jpg" class="img-fluid">
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <img src="../static/images/branded2.jpg" class="img-fluid">
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <img src="../static/images/branded3.jpg" class="img-fluid">
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <img src="../static/images/branded4.png" class="img-fluid">
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <img src="../static/images/branded5.jpg" class="img-fluid">
         <span class="credits">Photography courtesy of Branded, Shot by Selina McCallum</span>
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">

    </div>
</div>
{% endblock %}