{% include 'header.html' %}
<div class ="row">
    <div class="col-sm-10 justify-content-center">
        </div>
<h1>Hello! I'm Anna, a designer based in Toronto, Canada.</h1>
<p>My expertise includes print & digital design, visual identity, and illustration. I am also proficient in tools such as: Google Analytics, Shopify and Wordpress.
</p>
<p>I also love creating fun doodles and share them on Instagram. The goal is to bring a small delight to someone’s day as they see my posts! Some of these illustrations are available in my shop as greeting cards and stickers.
</p>
<p>I'm always open to new opportunities and freelance projects. Let's talk!</p>

    </div>

{% include 'footer.html' %}