{% include 'header.html' %}
<div class ="row align-items-center">
    <div class="col-sm-4 p-5">
        <img src="../static/images/anna-lin.jpg" class="img-fluid">
    </div>
    <div class="col-sm-8 p-5">

<h1>Hello! I'm Anna, a designer based in Toronto, Canada.</h1>
    <p>
My expertise include email marketing, social media marketing, front-end development, print & digital design, visual identity, and illustration.
</p>
    <p>
Currently, I’m a Digital Creative Designer at Sun Life Financial, designing for the journey of clients and prospects through a variety of channels. Before that, I was at Azure Publishing, working on editorial design and digital marketing campaigns.
</p>
    <p>


As a lifelong student, I enjoy diversifying my skillset from marketing strategy to web development. Gaining a deep understanding each step of the process allows me to design with purpose.
</p>
    <p>
I'm always open to new opportunities and freelance projects. <a href="mailto:annalin.design@gmail.com" style="text-decoration:underline">Let's talk!</a>
</p>
    </div>

{% include 'footer.html' %}