{% include 'header.html' %}



    <div class="row mt-5">
	  <div class="col-sm-8">
        <p>
            {% if time >=0 and time< 4: %}
            Good evening! You&rsquo;re still awake &#128064;

            {% elif time >= 4 and time < 12: %}
            Good morning &#127803;

            {% elif time >= 12 and time < 17: %}
            Good afternoon &#128075;

            {% elif time >= 17 and time < 24: %}
            Good evening &#10024;

            {% endif %}
        </p>
      <h1>
        I&rsquo;m Anna, a designer based in Toronto. Currently at Sun Life Financial as a Digital Creative Designer.
      </h1>
        </div>
    </div>


    <div class="row mt-5">
        <span class="border-top border-dark border-3"></span>
    </div>

    {% for i in project_list[::-1] %}
     <div class="row mt-5">
	  <div class="col-sm-5">
      <h2><a href="{{ url_for('projects', proj_num=i['id'])}}">{{i['Title']}}</a></h2>
          <h3>{{i['Subtitle']}}</h3>
      </div>
     <div class="col-sm-7">
         <img src="{{i['Thumbnail']}}" class="rounded img-fluid">
      </div>
     </div>
    <div class="row mt-5">
        <span class="border-top border-dark border-1"></span>
    </div>
    {% endfor %}












{% include 'footer.html' %}

